@model IEnumerable<ProyectoPrimerParcial.Models.Aeronave>

@{
    ViewData["Title"] = "Index";
}

<h1>Aeronaves</h1>

<p>
    <a asp-action="Create">Nueva aeronave</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TipoAeronave)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TipoAeronave)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AeronaveId">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.AeronaveId">Detalle</a> |
                <a asp-action="Delete" asp-route-id="@item.AeronaveId">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
